
<style>
  .topnav {
      background-color: #333;
      overflow: hidden;
  }
  
  .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
  
  .topnav a:hover {
      background-color: #ddd;
      color: black;
  }
  
  .topnav a.active {
      background-color: #000000;
      color: rgb(255, 0, 0);
  }
</style>
</head>
<body>
  
<nav>
  <div class="topnav">
    <a style="background-color: #333; hover:background-color: #333; width: 5.2%; " href="#" >
      <img src="../src/navbar/dino.gif" alt="..." >    
  </a>
      <a href="../src/home.html" hx-on="click: setActive(this)">Home</a>
      <a href="../src/search.html" hx-on="click: setActive(this)">Search</a>
      <a href="#contact" hx-on="click: setActive(this)">Contact</a>
      <a href="#about" hx-on="click: setActive(this)">About</a>
  </div>   
</nav>

<script src="https://unpkg.com/htmx.org@1.7.0"></script>
<script>
  function setActive(element) {
      console.log("data from setActive " + element.href);
      // Save the href of the active link to localStorage
      localStorage.setItem("activeLink", element.getAttribute('href'));
      // Remove the 'active' class from all links
      document.querySelectorAll('.topnav a').forEach(link => link.classList.remove('active'));
      // Add the 'active' class to the clicked link
      element.classList.add('active');
  }

  // Function to set the active class based on localStorage value
  function setActiveFromLocalStorage() {
      console.log("onload");
      const activeLink = localStorage.getItem("activeLink");
      console.log(activeLink);
      if (activeLink) {
          const element = document.querySelector(`.topnav a[href='${activeLink}']`);
          if (element) {
              element.classList.add('active');
          }
      }
  }

  // Use htmx to run the function after the content is loaded
  htmx.onLoad(function(content) {
      console.log("htmx content loaded");
      setActiveFromLocalStorage();
  });

  // Run on initial page load as well
  document.addEventListener('DOMContentLoaded', function() {
      setActiveFromLocalStorage();
  });
</script>